[submodule "asmjit"]
	path = asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "udis86"]
	path = udis86
	url = https://github.com/vmt/udis86
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/TanninOne/spdlog.git
